<div class="create-form">
{% if current_user.upgraded %}
  <a role="button" href="#create-form" class="create-form-button tooltip hint--left" data-hint="Create a form with a invisible email">
    <span class="ion-plus-circled"></span>
  </a>

  <div class="modal" id="create-form" aria-hidden="true">
    <div>
      <div class="x"><h4>Send email to:</h4><a href="#">&times;</a></div>
      <form method="POST" action="{{ url_for('forms') }}">
        <input type="email" name="email" placeholder="You can point this form to any email address" value="{{ current_user.email }}">
        <button type="submit">Create</button>
      </form>
      <div class="close"><a class="button" href="#">Close</a></div>
    </div>
  </div>
{% else %}
  <div class="col-1-1">
    Upgrade your account in order to create new forms.
  </div>
{% endif %}
</div>
