article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.row {
  width: 100%; }
  .row:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }

.container {
  width: 100%;
  max-width: 950px;
  margin: 0 auto; }
  .container:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .container.narrow {
    max-width: 600px; }
  @media (max-width: 760px) {
    .container {
      max-width: 100% !important; } }

.col-1-1 {
  float: left;
  padding: 0 20px;
  width: 100%; }
  @media (max-width: 760px) {
    .col-1-1 {
      width: 100% !important;
      margin-bottom: 20px !important; } }

.col-1-2 {
  float: left;
  padding: 0 20px;
  width: 50%; }
  @media (max-width: 760px) {
    .col-1-2 {
      width: 100% !important;
      margin-bottom: 20px !important; } }

.col-1-3 {
  float: left;
  padding: 0 20px;
  width: 33.33%; }
  @media (max-width: 760px) {
    .col-1-3 {
      width: 100% !important;
      margin-bottom: 20px !important; } }

.col-2-3 {
  float: left;
  padding: 0 20px;
  width: 66.66%; }
  @media (max-width: 760px) {
    .col-2-3 {
      width: 100% !important;
      margin-bottom: 20px !important; } }

.col-1-4 {
  float: left;
  padding: 0 20px;
  width: 25%; }
  @media (max-width: 760px) {
    .col-1-4 {
      width: 100% !important;
      margin-bottom: 20px !important; } }

.col-3-4 {
  float: left;
  padding: 0 20px;
  width: 75%; }
  @media (max-width: 760px) {
    .col-3-4 {
      width: 100% !important;
      margin-bottom: 20px !important; } }

.col-2-5 {
  float: left;
  padding: 0 20px;
  width: 40%; }
  @media (max-width: 760px) {
    .col-2-5 {
      width: 100% !important;
      margin-bottom: 20px !important; } }

.col-3-5 {
  float: left;
  padding: 0 20px;
  width: 60%; }
  @media (max-width: 760px) {
    .col-3-5 {
      width: 100% !important;
      margin-bottom: 20px !important; } }

body {
  font-size: 18px;
  line-height: 1.5em;
  font-family: 'proxima-nova-soft', sans-serif; }

h1, h2, h3, h4, h5, h6, p {
  font-family: 'proxima-nova-soft', sans-serif;
  -webkit-font-smoothing: antialiased; }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child {
    margin-top: 0; }
  h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child {
    margin-bottom: 0; }
  h1 > small, h2 > small, h3 > small, h4 > small, h5 > small, h6 > small, p > small {
    font-size: 0.65em;
    color: #aaa; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.3em;
  color: #1b3544; }
  h1.light, h2.light, h3.light, h4.light, h5.light, h6.light {
    font-weight: 400;
    color: #444; }

p {
  line-height: 1.5em;
  color: #444; }

a {
  color: #359173;
  text-decoration: none;
  transition: color 0.3s ease-in-out; }
  a:hover {
    color: #359173; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.caps {
  text-transform: uppercase; }

/*-------------------------------------*\
	HINT.css - A CSS tooltip library
\*-------------------------------------*/
/**
 * HINT.css is a tooltip library made in pure CSS.
 *
 * Source: https://github.com/chinchang/hint.css
 * Demo: http://kushagragour.in/lab/hint/
 *
 * Release under The MIT License
 *
 */
/**
 * source: hint-core.scss
 *
 * Defines the basic styling for the tooltip.
 * Each tooltip is made of 2 parts:
 * 	1) body (:after)
 * 	2) arrow (:before)
 * 
 * Classes added:
 * 	1) hint
 */
.hint, [data-hint] {
  position: relative;
  display: inline-block;
  /**
   * tooltip arrow
   */
  /**
   * tooltip body
   */ }
  .hint:before, .hint:after, [data-hint]:before, [data-hint]:after {
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease; }
  .hint:hover:before, .hint:hover:after, .hint:focus:before, .hint:focus:after, [data-hint]:hover:before, [data-hint]:hover:after, [data-hint]:focus:before, [data-hint]:focus:after {
    visibility: visible;
    opacity: 1; }
  .hint:before, [data-hint]:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    z-index: 1000001; }
  .hint:after, [data-hint]:after {
    font-family: 'myriad-pro', sans-serif;
    font-weight: 400;
    content: attr(data-hint);
    background: #1b3544;
    color: white;
    padding: 12px 15px;
    font-size: 16px;
    line-height: 16px;
    white-space: nowrap; }

/**
 * source: hint-position.scss
 *
 * Defines the positoning logic for the tooltips.
 *
 * Classes added:
 * 	1) hint--top
 * 	2) hint--bottom
 * 	3) hint--left
 * 	4) hint--right
 */
/**
 * set default color for tooltip arrows
 */
.hint--top:before {
  border-top-color: #1b3544; }

.hint--bottom:before {
  border-bottom-color: #1b3544; }

.hint--left:before {
  border-left-color: #1b3544; }

.hint--right:before {
  border-right-color: #1b3544; }

/**
 * top tooltip
 */
.hint--top:before {
  margin-bottom: -12px; }
.hint--top:after {
  margin-left: -18px; }
.hint--top:before, .hint--top:after {
  bottom: 100%;
  left: 18px; }
.hint--top:hover:after, .hint--top:hover:before, .hint--top:focus:after, .hint--top:focus:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px); }

/**
 * bottom tooltip
 */
.hint--bottom:before {
  margin-top: -12px; }
.hint--bottom:after {
  margin-left: -18px; }
.hint--bottom:before, .hint--bottom:after {
  top: 100%;
  left: 18px; }
.hint--bottom:hover:after, .hint--bottom:hover:before, .hint--bottom:focus:after, .hint--bottom:focus:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px); }

/**
 * right tooltip
 */
.hint--right:before {
  margin-left: -12px;
  margin-bottom: -6px; }
.hint--right:after {
  margin-bottom: -20px; }
.hint--right:before, .hint--right:after {
  left: 100%;
  bottom: 50%; }
.hint--right:hover:after, .hint--right:hover:before, .hint--right:focus:after, .hint--right:focus:before {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  transform: translateX(8px); }

/**
 * left tooltip
 */
.hint--left:before {
  margin-right: -12px;
  margin-bottom: -6px; }
.hint--left:after {
  margin-bottom: -20px; }
.hint--left:before, .hint--left:after {
  right: 100%;
  bottom: 50%; }
.hint--left:hover:after, .hint--left:hover:before, .hint--left:focus:after, .hint--left:focus:before {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  transform: translateX(-8px); }

/**
 * source: hint-color-types.scss
 *
 * Contains tooltips of various types based on color differences.
 *
 * Classes added:
 * 	1) hint--error
 * 	2) hint--warning
 * 	3) hint--info
 * 	4) hint--success
 *
 */
/**
 * Error
 */
.hint--error:after {
  background-color: #b34e4d; }
.hint--error.hint--top:before {
  border-top-color: #b34e4d; }
.hint--error.hint--bottom:before {
  border-bottom-color: #b34e4d; }
.hint--error.hint--left:before {
  border-left-color: #b34e4d; }
.hint--error.hint--right:before {
  border-right-color: #b34e4d; }

/**
 * Warning
 */
.hint--warning:after {
  background-color: #c09854; }
.hint--warning.hint--top:before {
  border-top-color: #c09854; }
.hint--warning.hint--bottom:before {
  border-bottom-color: #c09854; }
.hint--warning.hint--left:before {
  border-left-color: #c09854; }
.hint--warning.hint--right:before {
  border-right-color: #c09854; }

/**
 * Info
 */
.hint--info:after {
  background-color: #3986ac; }
.hint--info.hint--top:before {
  border-top-color: #3986ac; }
.hint--info.hint--bottom:before {
  border-bottom-color: #3986ac; }
.hint--info.hint--left:before {
  border-left-color: #3986ac; }
.hint--info.hint--right:before {
  border-right-color: #3986ac; }

/**
 * Success
 */
.hint--success:after {
  background-color: #458746; }
.hint--success.hint--top:before {
  border-top-color: #458746; }
.hint--success.hint--bottom:before {
  border-bottom-color: #458746; }
.hint--success.hint--left:before {
  border-left-color: #458746; }
.hint--success.hint--right:before {
  border-right-color: #458746; }

/**
 * source: hint-always.scss
 *
 * Defines a persisted tooltip which shows always.
 *
 * Classes added:
 * 	1) hint--always
 *
 */
.hint--always:after, .hint--always:before {
  opacity: 1;
  visibility: visible; }
.hint--always.hint--top:after, .hint--always.hint--top:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px); }
.hint--always.hint--bottom:after, .hint--always.hint--bottom:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px); }
.hint--always.hint--left:after, .hint--always.hint--left:before {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  transform: translateX(-8px); }
.hint--always.hint--right:after, .hint--always.hint--right:before {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  transform: translateX(8px); }

/**
 * source: hint-rounded.scss
 *
 * Defines rounded corner tooltips.
 *
 * Classes added:
 * 	1) hint--rounded
 *
 */
.hint--rounded:after {
  border-radius: 4px; }

/**
 * source: hint-effects.scss
 *
 * Defines various transition effects for the tooltips.
 *
 * Classes added:
 * 	1) hint--bounce
 *
 */
.hint--bounce:before, .hint--bounce:after {
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition: opacity 0.3s ease, visibility 0.3s ease, -moz-transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24); }

/*!
  Ionicons, v1.4.1
  Created by Ben Sperry for the Ionic Framework, http://ionicons.com/
  https://twitter.com/benjsperry  https://twitter.com/ionicframework
  MIT License: https://github.com/driftyco/ionicons
*/
@font-face {
  font-family: "Ionicons";
  src: url("../fonts/ionicons.eot?v=1.4.1");
  src: url("../fonts/ionicons.eot?v=1.4.1#iefix") format("embedded-opentype"), url("../fonts/ionicons.ttf?v=1.4.1") format("truetype"), url("../fonts/ionicons.woff?v=1.4.1") format("woff"), url("../fonts/ionicons.svg?v=1.4.1#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal; }
.ion, .ion-loading-a, .ion-loading-b, .ion-loading-c, .ion-loading-d, .ion-looping, .ion-refreshing, .ion-ios7-reloading, .ionicons, .ion-alert, .ion-alert-circled, .ion-android-add, .ion-android-add-contact, .ion-android-alarm, .ion-android-archive, .ion-android-arrow-back, .ion-android-arrow-down-left, .ion-android-arrow-down-right, .ion-android-arrow-up-left, .ion-android-arrow-up-right, .ion-android-battery, .ion-android-book, .ion-android-calendar, .ion-android-call, .ion-android-camera, .ion-android-chat, .ion-android-checkmark, .ion-android-clock, .ion-android-close, .ion-android-contact, .ion-android-contacts, .ion-android-data, .ion-android-developer, .ion-android-display, .ion-android-download, .ion-android-dropdown, .ion-android-earth, .ion-android-folder, .ion-android-forums, .ion-android-friends, .ion-android-hand, .ion-android-image, .ion-android-inbox, .ion-android-information, .ion-android-keypad, .ion-android-lightbulb, .ion-android-locate, .ion-android-location, .ion-android-mail, .ion-android-microphone, .ion-android-mixer, .ion-android-more, .ion-android-note, .ion-android-playstore, .ion-android-printer, .ion-android-promotion, .ion-android-reminder, .ion-android-remove, .ion-android-search, .ion-android-send, .ion-android-settings, .ion-android-share, .ion-android-social, .ion-android-social-user, .ion-android-sort, .ion-android-star, .ion-android-stopwatch, .ion-android-storage, .ion-android-system-back, .ion-android-system-home, .ion-android-system-windows, .ion-android-timer, .ion-android-trash, .ion-android-volume, .ion-android-wifi, .ion-archive, .ion-arrow-down-a, .ion-arrow-down-b, .ion-arrow-down-c, .ion-arrow-expand, .ion-arrow-graph-down-left, .ion-arrow-graph-down-right, .ion-arrow-graph-up-left, .ion-arrow-graph-up-right, .ion-arrow-left-a, .ion-arrow-left-b, .ion-arrow-left-c, .ion-arrow-move, .ion-arrow-resize, .ion-arrow-return-left, .ion-arrow-return-right, .ion-arrow-right-a, .ion-arrow-right-b, .ion-arrow-right-c, .ion-arrow-shrink, .ion-arrow-swap, .ion-arrow-up-a, .ion-arrow-up-b, .ion-arrow-up-c, .ion-at, .ion-bag, .ion-battery-charging, .ion-battery-empty, .ion-battery-full, .ion-battery-half, .ion-battery-low, .ion-beaker, .ion-beer, .ion-bluetooth, .ion-bookmark, .ion-briefcase, .ion-bug, .ion-calculator, .ion-calendar, .ion-camera, .ion-card, .ion-chatbox, .ion-chatbox-working, .ion-chatboxes, .ion-chatbubble, .ion-chatbubble-working, .ion-chatbubbles, .ion-checkmark, .ion-checkmark-circled, .ion-checkmark-round, .ion-chevron-down, .ion-chevron-left, .ion-chevron-right, .ion-chevron-up, .ion-clipboard, .ion-clock, .ion-close, .ion-close-circled, .ion-close-round, .ion-cloud, .ion-code, .ion-code-download, .ion-code-working, .ion-coffee, .ion-compass, .ion-compose, .ion-connection-bars, .ion-contrast, .ion-disc, .ion-document, .ion-document-text, .ion-drag, .ion-earth, .ion-edit, .ion-egg, .ion-eject, .ion-email, .ion-eye, .ion-eye-disabled, .ion-female, .ion-filing, .ion-film-marker, .ion-flag, .ion-flash, .ion-flash-off, .ion-flask, .ion-folder, .ion-fork, .ion-fork-repo, .ion-forward, .ion-game-controller-a, .ion-game-controller-b, .ion-gear-a, .ion-gear-b, .ion-grid, .ion-hammer, .ion-headphone, .ion-heart, .ion-help, .ion-help-buoy, .ion-help-circled, .ion-home, .ion-icecream, .ion-icon-social-google-plus, .ion-icon-social-google-plus-outline, .ion-image, .ion-images, .ion-information, .ion-information-circled, .ion-ionic, .ion-ios7-alarm, .ion-ios7-alarm-outline, .ion-ios7-albums, .ion-ios7-albums-outline, .ion-ios7-arrow-back, .ion-ios7-arrow-down, .ion-ios7-arrow-forward, .ion-ios7-arrow-left, .ion-ios7-arrow-right, .ion-ios7-arrow-thin-down, .ion-ios7-arrow-thin-left, .ion-ios7-arrow-thin-right, .ion-ios7-arrow-thin-up, .ion-ios7-arrow-up, .ion-ios7-at, .ion-ios7-at-outline, .ion-ios7-bell, .ion-ios7-bell-outline, .ion-ios7-bolt, .ion-ios7-bolt-outline, .ion-ios7-bookmarks, .ion-ios7-bookmarks-outline, .ion-ios7-box, .ion-ios7-box-outline, .ion-ios7-briefcase, .ion-ios7-briefcase-outline, .ion-ios7-browsers, .ion-ios7-browsers-outline, .ion-ios7-calculator, .ion-ios7-calculator-outline, .ion-ios7-calendar, .ion-ios7-calendar-outline, .ion-ios7-camera, .ion-ios7-camera-outline, .ion-ios7-cart, .ion-ios7-cart-outline, .ion-ios7-chatboxes, .ion-ios7-chatboxes-outline, .ion-ios7-chatbubble, .ion-ios7-chatbubble-outline, .ion-ios7-checkmark, .ion-ios7-checkmark-empty, .ion-ios7-checkmark-outline, .ion-ios7-circle-filled, .ion-ios7-circle-outline, .ion-ios7-clock, .ion-ios7-clock-outline, .ion-ios7-close, .ion-ios7-close-empty, .ion-ios7-close-outline, .ion-ios7-cloud, .ion-ios7-cloud-download, .ion-ios7-cloud-download-outline, .ion-ios7-cloud-outline, .ion-ios7-cloud-upload, .ion-ios7-cloud-upload-outline, .ion-ios7-cloudy, .ion-ios7-cloudy-night, .ion-ios7-cloudy-night-outline, .ion-ios7-cloudy-outline, .ion-ios7-cog, .ion-ios7-cog-outline, .ion-ios7-compose, .ion-ios7-compose-outline, .ion-ios7-contact, .ion-ios7-contact-outline, .ion-ios7-copy, .ion-ios7-copy-outline, .ion-ios7-download, .ion-ios7-download-outline, .ion-ios7-drag, .ion-ios7-email, .ion-ios7-email-outline, .ion-ios7-eye, .ion-ios7-eye-outline, .ion-ios7-fastforward, .ion-ios7-fastforward-outline, .ion-ios7-filing, .ion-ios7-filing-outline, .ion-ios7-film, .ion-ios7-film-outline, .ion-ios7-flag, .ion-ios7-flag-outline, .ion-ios7-folder, .ion-ios7-folder-outline, .ion-ios7-gear, .ion-ios7-gear-outline, .ion-ios7-glasses, .ion-ios7-glasses-outline, .ion-ios7-heart, .ion-ios7-heart-outline, .ion-ios7-help, .ion-ios7-help-empty, .ion-ios7-help-outline, .ion-ios7-infinite, .ion-ios7-infinite-outline, .ion-ios7-information, .ion-ios7-information-empty, .ion-ios7-information-outline, .ion-ios7-ionic-outline, .ion-ios7-keypad, .ion-ios7-keypad-outline, .ion-ios7-lightbulb, .ion-ios7-lightbulb-outline, .ion-ios7-location, .ion-ios7-location-outline, .ion-ios7-locked, .ion-ios7-locked-outline, .ion-ios7-medkit, .ion-ios7-medkit-outline, .ion-ios7-mic, .ion-ios7-mic-off, .ion-ios7-mic-outline, .ion-ios7-minus, .ion-ios7-minus-empty, .ion-ios7-minus-outline, .ion-ios7-monitor, .ion-ios7-monitor-outline, .ion-ios7-moon, .ion-ios7-moon-outline, .ion-ios7-more, .ion-ios7-more-outline, .ion-ios7-musical-note, .ion-ios7-musical-notes, .ion-ios7-navigate, .ion-ios7-navigate-outline, .ion-ios7-paperplane, .ion-ios7-paperplane-outline, .ion-ios7-partlysunny, .ion-ios7-partlysunny-outline, .ion-ios7-pause, .ion-ios7-pause-outline, .ion-ios7-people, .ion-ios7-people-outline, .ion-ios7-person, .ion-ios7-person-outline, .ion-ios7-personadd, .ion-ios7-personadd-outline, .ion-ios7-photos, .ion-ios7-photos-outline, .ion-ios7-pie, .ion-ios7-pie-outline, .ion-ios7-play, .ion-ios7-play-outline, .ion-ios7-plus, .ion-ios7-plus-empty, .ion-ios7-plus-outline, .ion-ios7-pricetag, .ion-ios7-pricetag-outline, .ion-ios7-printer, .ion-ios7-printer-outline, .ion-ios7-rainy, .ion-ios7-rainy-outline, .ion-ios7-recording, .ion-ios7-recording-outline, .ion-ios7-redo, .ion-ios7-redo-outline, .ion-ios7-refresh, .ion-ios7-refresh-empty, .ion-ios7-refresh-outline, .ion-ios7-reload, .ion-ios7-rewind, .ion-ios7-rewind-outline, .ion-ios7-search, .ion-ios7-search-strong, .ion-ios7-skipbackward, .ion-ios7-skipbackward-outline, .ion-ios7-skipforward, .ion-ios7-skipforward-outline, .ion-ios7-snowy, .ion-ios7-speedometer, .ion-ios7-speedometer-outline, .ion-ios7-star, .ion-ios7-star-outline, .ion-ios7-stopwatch, .ion-ios7-stopwatch-outline, .ion-ios7-sunny, .ion-ios7-sunny-outline, .ion-ios7-telephone, .ion-ios7-telephone-outline, .ion-ios7-thunderstorm, .ion-ios7-thunderstorm-outline, .ion-ios7-time, .ion-ios7-time-outline, .ion-ios7-timer, .ion-ios7-timer-outline, .ion-ios7-trash, .ion-ios7-trash-outline, .ion-ios7-undo, .ion-ios7-undo-outline, .ion-ios7-unlocked, .ion-ios7-unlocked-outline, .ion-ios7-upload, .ion-ios7-upload-outline, .ion-ios7-videocam, .ion-ios7-videocam-outline, .ion-ios7-volume-high, .ion-ios7-volume-low, .ion-ios7-wineglass, .ion-ios7-wineglass-outline, .ion-ios7-world, .ion-ios7-world-outline, .ion-ipad, .ion-iphone, .ion-ipod, .ion-jet, .ion-key, .ion-knife, .ion-laptop, .ion-leaf, .ion-levels, .ion-lightbulb, .ion-link, .ion-load-a, .ion-load-b, .ion-load-c, .ion-load-d, .ion-location, .ion-locked, .ion-log-in, .ion-log-out, .ion-loop, .ion-magnet, .ion-male, .ion-man, .ion-map, .ion-medkit, .ion-mic-a, .ion-mic-b, .ion-mic-c, .ion-minus, .ion-minus-circled, .ion-minus-round, .ion-model-s, .ion-monitor, .ion-more, .ion-music-note, .ion-navicon, .ion-navicon-round, .ion-navigate, .ion-no-smoking, .ion-nuclear, .ion-paper-airplane, .ion-paperclip, .ion-pause, .ion-person, .ion-person-add, .ion-person-stalker, .ion-pie-graph, .ion-pin, .ion-pinpoint, .ion-pizza, .ion-plane, .ion-play, .ion-playstation, .ion-plus, .ion-plus-circled, .ion-plus-round, .ion-pound, .ion-power, .ion-pricetag, .ion-pricetags, .ion-printer, .ion-radio-waves, .ion-record, .ion-refresh, .ion-reply, .ion-reply-all, .ion-search, .ion-settings, .ion-share, .ion-shuffle, .ion-skip-backward, .ion-skip-forward, .ion-social-android, .ion-social-android-outline, .ion-social-apple, .ion-social-apple-outline, .ion-social-bitcoin, .ion-social-bitcoin-outline, .ion-social-buffer, .ion-social-buffer-outline, .ion-social-designernews, .ion-social-designernews-outline, .ion-social-dribbble, .ion-social-dribbble-outline, .ion-social-dropbox, .ion-social-dropbox-outline, .ion-social-facebook, .ion-social-facebook-outline, .ion-social-freebsd-devil, .ion-social-github, .ion-social-github-outline, .ion-social-googleplus, .ion-social-googleplus-outline, .ion-social-hackernews, .ion-social-hackernews-outline, .ion-social-linkedin, .ion-social-linkedin-outline, .ion-social-pinterest, .ion-social-pinterest-outline, .ion-social-reddit, .ion-social-reddit-outline, .ion-social-rss, .ion-social-rss-outline, .ion-social-skype, .ion-social-skype-outline, .ion-social-tumblr, .ion-social-tumblr-outline, .ion-social-tux, .ion-social-twitter, .ion-social-twitter-outline, .ion-social-vimeo, .ion-social-vimeo-outline, .ion-social-windows, .ion-social-windows-outline, .ion-social-wordpress, .ion-social-wordpress-outline, .ion-social-yahoo, .ion-social-yahoo-outline, .ion-social-youtube, .ion-social-youtube-outline, .ion-speakerphone, .ion-speedometer, .ion-spoon, .ion-star, .ion-stats-bars, .ion-steam, .ion-stop, .ion-thermometer, .ion-thumbsdown, .ion-thumbsup, .ion-trash-a, .ion-trash-b, .ion-umbrella, .ion-unlocked, .ion-upload, .ion-usb, .ion-videocamera, .ion-volume-high, .ion-volume-low, .ion-volume-medium, .ion-volume-mute, .ion-waterdrop, .ion-wifi, .ion-wineglass, .ion-woman, .ion-wrench, .ion-xbox {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ion-spin, .ion-loading-a, .ion-loading-b, .ion-loading-c, .ion-loading-d, .ion-looping, .ion-refreshing, .ion-ios7-reloading {
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear; }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg); } }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg); } }
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg); }
  100% {
    -o-transform: rotate(359deg); } }
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(359deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }
.ion-loading-a {
  -webkit-animation-timing-function: steps(8, start);
  -moz-animation-timing-function: steps(8, start);
  animation-timing-function: steps(8, start); }

.ion-alert:before {
  content: "\f101"; }

.ion-alert-circled:before {
  content: "\f100"; }

.ion-android-add:before {
  content: "\f2c7"; }

.ion-android-add-contact:before {
  content: "\f2c6"; }

.ion-android-alarm:before {
  content: "\f2c8"; }

.ion-android-archive:before {
  content: "\f2c9"; }

.ion-android-arrow-back:before {
  content: "\f2ca"; }

.ion-android-arrow-down-left:before {
  content: "\f2cb"; }

.ion-android-arrow-down-right:before {
  content: "\f2cc"; }

.ion-android-arrow-up-left:before {
  content: "\f2cd"; }

.ion-android-arrow-up-right:before {
  content: "\f2ce"; }

.ion-android-battery:before {
  content: "\f2cf"; }

.ion-android-book:before {
  content: "\f2d0"; }

.ion-android-calendar:before {
  content: "\f2d1"; }

.ion-android-call:before {
  content: "\f2d2"; }

.ion-android-camera:before {
  content: "\f2d3"; }

.ion-android-chat:before {
  content: "\f2d4"; }

.ion-android-checkmark:before {
  content: "\f2d5"; }

.ion-android-clock:before {
  content: "\f2d6"; }

.ion-android-close:before {
  content: "\f2d7"; }

.ion-android-contact:before {
  content: "\f2d8"; }

.ion-android-contacts:before {
  content: "\f2d9"; }

.ion-android-data:before {
  content: "\f2da"; }

.ion-android-developer:before {
  content: "\f2db"; }

.ion-android-display:before {
  content: "\f2dc"; }

.ion-android-download:before {
  content: "\f2dd"; }

.ion-android-dropdown:before {
  content: "\f2de"; }

.ion-android-earth:before {
  content: "\f2df"; }

.ion-android-folder:before {
  content: "\f2e0"; }

.ion-android-forums:before {
  content: "\f2e1"; }

.ion-android-friends:before {
  content: "\f2e2"; }

.ion-android-hand:before {
  content: "\f2e3"; }

.ion-android-image:before {
  content: "\f2e4"; }

.ion-android-inbox:before {
  content: "\f2e5"; }

.ion-android-information:before {
  content: "\f2e6"; }

.ion-android-keypad:before {
  content: "\f2e7"; }

.ion-android-lightbulb:before {
  content: "\f2e8"; }

.ion-android-locate:before {
  content: "\f2e9"; }

.ion-android-location:before {
  content: "\f2ea"; }

.ion-android-mail:before {
  content: "\f2eb"; }

.ion-android-microphone:before {
  content: "\f2ec"; }

.ion-android-mixer:before {
  content: "\f2ed"; }

.ion-android-more:before {
  content: "\f2ee"; }

.ion-android-note:before {
  content: "\f2ef"; }

.ion-android-playstore:before {
  content: "\f2f0"; }

.ion-android-printer:before {
  content: "\f2f1"; }

.ion-android-promotion:before {
  content: "\f2f2"; }

.ion-android-reminder:before {
  content: "\f2f3"; }

.ion-android-remove:before {
  content: "\f2f4"; }

.ion-android-search:before {
  content: "\f2f5"; }

.ion-android-send:before {
  content: "\f2f6"; }

.ion-android-settings:before {
  content: "\f2f7"; }

.ion-android-share:before {
  content: "\f2f8"; }

.ion-android-social:before {
  content: "\f2fa"; }

.ion-android-social-user:before {
  content: "\f2f9"; }

.ion-android-sort:before {
  content: "\f2fb"; }

.ion-android-star:before {
  content: "\f2fc"; }

.ion-android-stopwatch:before {
  content: "\f2fd"; }

.ion-android-storage:before {
  content: "\f2fe"; }

.ion-android-system-back:before {
  content: "\f2ff"; }

.ion-android-system-home:before {
  content: "\f300"; }

.ion-android-system-windows:before {
  content: "\f301"; }

.ion-android-timer:before {
  content: "\f302"; }

.ion-android-trash:before {
  content: "\f303"; }

.ion-android-volume:before {
  content: "\f304"; }

.ion-android-wifi:before {
  content: "\f305"; }

.ion-archive:before {
  content: "\f102"; }

.ion-arrow-down-a:before {
  content: "\f103"; }

.ion-arrow-down-b:before {
  content: "\f104"; }

.ion-arrow-down-c:before {
  content: "\f105"; }

.ion-arrow-expand:before {
  content: "\f25e"; }

.ion-arrow-graph-down-left:before {
  content: "\f25f"; }

.ion-arrow-graph-down-right:before {
  content: "\f260"; }

.ion-arrow-graph-up-left:before {
  content: "\f261"; }

.ion-arrow-graph-up-right:before {
  content: "\f262"; }

.ion-arrow-left-a:before {
  content: "\f106"; }

.ion-arrow-left-b:before {
  content: "\f107"; }

.ion-arrow-left-c:before {
  content: "\f108"; }

.ion-arrow-move:before {
  content: "\f263"; }

.ion-arrow-resize:before {
  content: "\f264"; }

.ion-arrow-return-left:before {
  content: "\f265"; }

.ion-arrow-return-right:before {
  content: "\f266"; }

.ion-arrow-right-a:before {
  content: "\f109"; }

.ion-arrow-right-b:before {
  content: "\f10a"; }

.ion-arrow-right-c:before {
  content: "\f10b"; }

.ion-arrow-shrink:before {
  content: "\f267"; }

.ion-arrow-swap:before {
  content: "\f268"; }

.ion-arrow-up-a:before {
  content: "\f10c"; }

.ion-arrow-up-b:before {
  content: "\f10d"; }

.ion-arrow-up-c:before {
  content: "\f10e"; }

.ion-at:before {
  content: "\f10f"; }

.ion-bag:before {
  content: "\f110"; }

.ion-battery-charging:before {
  content: "\f111"; }

.ion-battery-empty:before {
  content: "\f112"; }

.ion-battery-full:before {
  content: "\f113"; }

.ion-battery-half:before {
  content: "\f114"; }

.ion-battery-low:before {
  content: "\f115"; }

.ion-beaker:before {
  content: "\f269"; }

.ion-beer:before {
  content: "\f26a"; }

.ion-bluetooth:before {
  content: "\f116"; }

.ion-bookmark:before {
  content: "\f26b"; }

.ion-briefcase:before {
  content: "\f26c"; }

.ion-bug:before {
  content: "\f2be"; }

.ion-calculator:before {
  content: "\f26d"; }

.ion-calendar:before {
  content: "\f117"; }

.ion-camera:before {
  content: "\f118"; }

.ion-card:before {
  content: "\f119"; }

.ion-chatbox:before {
  content: "\f11b"; }

.ion-chatbox-working:before {
  content: "\f11a"; }

.ion-chatboxes:before {
  content: "\f11c"; }

.ion-chatbubble:before {
  content: "\f11e"; }

.ion-chatbubble-working:before {
  content: "\f11d"; }

.ion-chatbubbles:before {
  content: "\f11f"; }

.ion-checkmark:before {
  content: "\f122"; }

.ion-checkmark-circled:before {
  content: "\f120"; }

.ion-checkmark-round:before {
  content: "\f121"; }

.ion-chevron-down:before {
  content: "\f123"; }

.ion-chevron-left:before {
  content: "\f124"; }

.ion-chevron-right:before {
  content: "\f125"; }

.ion-chevron-up:before {
  content: "\f126"; }

.ion-clipboard:before {
  content: "\f127"; }

.ion-clock:before {
  content: "\f26e"; }

.ion-close:before {
  content: "\f12a"; }

.ion-close-circled:before {
  content: "\f128"; }

.ion-close-round:before {
  content: "\f129"; }

.ion-cloud:before {
  content: "\f12b"; }

.ion-code:before {
  content: "\f271"; }

.ion-code-download:before {
  content: "\f26f"; }

.ion-code-working:before {
  content: "\f270"; }

.ion-coffee:before {
  content: "\f272"; }

.ion-compass:before {
  content: "\f273"; }

.ion-compose:before {
  content: "\f12c"; }

.ion-connection-bars:before {
  content: "\f274"; }

.ion-contrast:before {
  content: "\f275"; }

.ion-disc:before {
  content: "\f12d"; }

.ion-document:before {
  content: "\f12f"; }

.ion-document-text:before {
  content: "\f12e"; }

.ion-drag:before {
  content: "\f130"; }

.ion-earth:before {
  content: "\f276"; }

.ion-edit:before {
  content: "\f2bf"; }

.ion-egg:before {
  content: "\f277"; }

.ion-eject:before {
  content: "\f131"; }

.ion-email:before {
  content: "\f132"; }

.ion-eye:before {
  content: "\f133"; }

.ion-eye-disabled:before {
  content: "\f306"; }

.ion-female:before {
  content: "\f278"; }

.ion-filing:before {
  content: "\f134"; }

.ion-film-marker:before {
  content: "\f135"; }

.ion-flag:before {
  content: "\f279"; }

.ion-flash:before {
  content: "\f137"; }

.ion-flash-off:before {
  content: "\f136"; }

.ion-flask:before {
  content: "\f138"; }

.ion-folder:before {
  content: "\f139"; }

.ion-fork:before {
  content: "\f27a"; }

.ion-fork-repo:before {
  content: "\f2c0"; }

.ion-forward:before {
  content: "\f13a"; }

.ion-game-controller-a:before {
  content: "\f13b"; }

.ion-game-controller-b:before {
  content: "\f13c"; }

.ion-gear-a:before {
  content: "\f13d"; }

.ion-gear-b:before {
  content: "\f13e"; }

.ion-grid:before {
  content: "\f13f"; }

.ion-hammer:before {
  content: "\f27b"; }

.ion-headphone:before {
  content: "\f140"; }

.ion-heart:before {
  content: "\f141"; }

.ion-help:before {
  content: "\f143"; }

.ion-help-buoy:before {
  content: "\f27c"; }

.ion-help-circled:before {
  content: "\f142"; }

.ion-home:before {
  content: "\f144"; }

.ion-icecream:before {
  content: "\f27d"; }

.ion-icon-social-google-plus:before {
  content: "\f146"; }

.ion-icon-social-google-plus-outline:before {
  content: "\f145"; }

.ion-image:before {
  content: "\f147"; }

.ion-images:before {
  content: "\f148"; }

.ion-information:before {
  content: "\f14a"; }

.ion-information-circled:before {
  content: "\f149"; }

.ion-ionic:before {
  content: "\f14b"; }

.ion-ios7-alarm:before {
  content: "\f14d"; }

.ion-ios7-alarm-outline:before {
  content: "\f14c"; }

.ion-ios7-albums:before {
  content: "\f14f"; }

.ion-ios7-albums-outline:before {
  content: "\f14e"; }

.ion-ios7-arrow-back:before {
  content: "\f150"; }

.ion-ios7-arrow-down:before {
  content: "\f151"; }

.ion-ios7-arrow-forward:before {
  content: "\f152"; }

.ion-ios7-arrow-left:before {
  content: "\f153"; }

.ion-ios7-arrow-right:before {
  content: "\f154"; }

.ion-ios7-arrow-thin-down:before {
  content: "\f27e"; }

.ion-ios7-arrow-thin-left:before {
  content: "\f27f"; }

.ion-ios7-arrow-thin-right:before {
  content: "\f280"; }

.ion-ios7-arrow-thin-up:before {
  content: "\f281"; }

.ion-ios7-arrow-up:before {
  content: "\f155"; }

.ion-ios7-at:before {
  content: "\f157"; }

.ion-ios7-at-outline:before {
  content: "\f156"; }

.ion-ios7-bell:before {
  content: "\f159"; }

.ion-ios7-bell-outline:before {
  content: "\f158"; }

.ion-ios7-bolt:before {
  content: "\f15b"; }

.ion-ios7-bolt-outline:before {
  content: "\f15a"; }

.ion-ios7-bookmarks:before {
  content: "\f15d"; }

.ion-ios7-bookmarks-outline:before {
  content: "\f15c"; }

.ion-ios7-box:before {
  content: "\f15f"; }

.ion-ios7-box-outline:before {
  content: "\f15e"; }

.ion-ios7-briefcase:before {
  content: "\f283"; }

.ion-ios7-briefcase-outline:before {
  content: "\f282"; }

.ion-ios7-browsers:before {
  content: "\f161"; }

.ion-ios7-browsers-outline:before {
  content: "\f160"; }

.ion-ios7-calculator:before {
  content: "\f285"; }

.ion-ios7-calculator-outline:before {
  content: "\f284"; }

.ion-ios7-calendar:before {
  content: "\f163"; }

.ion-ios7-calendar-outline:before {
  content: "\f162"; }

.ion-ios7-camera:before {
  content: "\f165"; }

.ion-ios7-camera-outline:before {
  content: "\f164"; }

.ion-ios7-cart:before {
  content: "\f167"; }

.ion-ios7-cart-outline:before {
  content: "\f166"; }

.ion-ios7-chatboxes:before {
  content: "\f169"; }

.ion-ios7-chatboxes-outline:before {
  content: "\f168"; }

.ion-ios7-chatbubble:before {
  content: "\f16b"; }

.ion-ios7-chatbubble-outline:before {
  content: "\f16a"; }

.ion-ios7-checkmark:before {
  content: "\f16e"; }

.ion-ios7-checkmark-empty:before {
  content: "\f16c"; }

.ion-ios7-checkmark-outline:before {
  content: "\f16d"; }

.ion-ios7-circle-filled:before {
  content: "\f16f"; }

.ion-ios7-circle-outline:before {
  content: "\f170"; }

.ion-ios7-clock:before {
  content: "\f172"; }

.ion-ios7-clock-outline:before {
  content: "\f171"; }

.ion-ios7-close:before {
  content: "\f2bc"; }

.ion-ios7-close-empty:before {
  content: "\f2bd"; }

.ion-ios7-close-outline:before {
  content: "\f2bb"; }

.ion-ios7-cloud:before {
  content: "\f178"; }

.ion-ios7-cloud-download:before {
  content: "\f174"; }

.ion-ios7-cloud-download-outline:before {
  content: "\f173"; }

.ion-ios7-cloud-outline:before {
  content: "\f175"; }

.ion-ios7-cloud-upload:before {
  content: "\f177"; }

.ion-ios7-cloud-upload-outline:before {
  content: "\f176"; }

.ion-ios7-cloudy:before {
  content: "\f17a"; }

.ion-ios7-cloudy-night:before {
  content: "\f308"; }

.ion-ios7-cloudy-night-outline:before {
  content: "\f307"; }

.ion-ios7-cloudy-outline:before {
  content: "\f179"; }

.ion-ios7-cog:before {
  content: "\f17c"; }

.ion-ios7-cog-outline:before {
  content: "\f17b"; }

.ion-ios7-compose:before {
  content: "\f17e"; }

.ion-ios7-compose-outline:before {
  content: "\f17d"; }

.ion-ios7-contact:before {
  content: "\f180"; }

.ion-ios7-contact-outline:before {
  content: "\f17f"; }

.ion-ios7-copy:before {
  content: "\f182"; }

.ion-ios7-copy-outline:before {
  content: "\f181"; }

.ion-ios7-download:before {
  content: "\f184"; }

.ion-ios7-download-outline:before {
  content: "\f183"; }

.ion-ios7-drag:before {
  content: "\f185"; }

.ion-ios7-email:before {
  content: "\f187"; }

.ion-ios7-email-outline:before {
  content: "\f186"; }

.ion-ios7-eye:before {
  content: "\f189"; }

.ion-ios7-eye-outline:before {
  content: "\f188"; }

.ion-ios7-fastforward:before {
  content: "\f18b"; }

.ion-ios7-fastforward-outline:before {
  content: "\f18a"; }

.ion-ios7-filing:before {
  content: "\f18d"; }

.ion-ios7-filing-outline:before {
  content: "\f18c"; }

.ion-ios7-film:before {
  content: "\f18f"; }

.ion-ios7-film-outline:before {
  content: "\f18e"; }

.ion-ios7-flag:before {
  content: "\f191"; }

.ion-ios7-flag-outline:before {
  content: "\f190"; }

.ion-ios7-folder:before {
  content: "\f193"; }

.ion-ios7-folder-outline:before {
  content: "\f192"; }

.ion-ios7-gear:before {
  content: "\f195"; }

.ion-ios7-gear-outline:before {
  content: "\f194"; }

.ion-ios7-glasses:before {
  content: "\f197"; }

.ion-ios7-glasses-outline:before {
  content: "\f196"; }

.ion-ios7-heart:before {
  content: "\f199"; }

.ion-ios7-heart-outline:before {
  content: "\f198"; }

.ion-ios7-help:before {
  content: "\f19c"; }

.ion-ios7-help-empty:before {
  content: "\f19a"; }

.ion-ios7-help-outline:before {
  content: "\f19b"; }

.ion-ios7-infinite:before {
  content: "\f19e"; }

.ion-ios7-infinite-outline:before {
  content: "\f19d"; }

.ion-ios7-information:before {
  content: "\f1a1"; }

.ion-ios7-information-empty:before {
  content: "\f19f"; }

.ion-ios7-information-outline:before {
  content: "\f1a0"; }

.ion-ios7-ionic-outline:before {
  content: "\f1a2"; }

.ion-ios7-keypad:before {
  content: "\f1a4"; }

.ion-ios7-keypad-outline:before {
  content: "\f1a3"; }

.ion-ios7-lightbulb:before {
  content: "\f287"; }

.ion-ios7-lightbulb-outline:before {
  content: "\f286"; }

.ion-ios7-location:before {
  content: "\f1a6"; }

.ion-ios7-location-outline:before {
  content: "\f1a5"; }

.ion-ios7-locked:before {
  content: "\f1a8"; }

.ion-ios7-locked-outline:before {
  content: "\f1a7"; }

.ion-ios7-medkit:before {
  content: "\f289"; }

.ion-ios7-medkit-outline:before {
  content: "\f288"; }

.ion-ios7-mic:before {
  content: "\f1ab"; }

.ion-ios7-mic-off:before {
  content: "\f1a9"; }

.ion-ios7-mic-outline:before {
  content: "\f1aa"; }

.ion-ios7-minus:before {
  content: "\f1ae"; }

.ion-ios7-minus-empty:before {
  content: "\f1ac"; }

.ion-ios7-minus-outline:before {
  content: "\f1ad"; }

.ion-ios7-monitor:before {
  content: "\f1b0"; }

.ion-ios7-monitor-outline:before {
  content: "\f1af"; }

.ion-ios7-moon:before {
  content: "\f1b2"; }

.ion-ios7-moon-outline:before {
  content: "\f1b1"; }

.ion-ios7-more:before {
  content: "\f1b4"; }

.ion-ios7-more-outline:before {
  content: "\f1b3"; }

.ion-ios7-musical-note:before {
  content: "\f1b5"; }

.ion-ios7-musical-notes:before {
  content: "\f1b6"; }

.ion-ios7-navigate:before {
  content: "\f1b8"; }

.ion-ios7-navigate-outline:before {
  content: "\f1b7"; }

.ion-ios7-paperplane:before {
  content: "\f1ba"; }

.ion-ios7-paperplane-outline:before {
  content: "\f1b9"; }

.ion-ios7-partlysunny:before {
  content: "\f1bc"; }

.ion-ios7-partlysunny-outline:before {
  content: "\f1bb"; }

.ion-ios7-pause:before {
  content: "\f1be"; }

.ion-ios7-pause-outline:before {
  content: "\f1bd"; }

.ion-ios7-people:before {
  content: "\f1c0"; }

.ion-ios7-people-outline:before {
  content: "\f1bf"; }

.ion-ios7-person:before {
  content: "\f1c2"; }

.ion-ios7-person-outline:before {
  content: "\f1c1"; }

.ion-ios7-personadd:before {
  content: "\f1c4"; }

.ion-ios7-personadd-outline:before {
  content: "\f1c3"; }

.ion-ios7-photos:before {
  content: "\f1c6"; }

.ion-ios7-photos-outline:before {
  content: "\f1c5"; }

.ion-ios7-pie:before {
  content: "\f28b"; }

.ion-ios7-pie-outline:before {
  content: "\f28a"; }

.ion-ios7-play:before {
  content: "\f1c8"; }

.ion-ios7-play-outline:before {
  content: "\f1c7"; }

.ion-ios7-plus:before {
  content: "\f1cb"; }

.ion-ios7-plus-empty:before {
  content: "\f1c9"; }

.ion-ios7-plus-outline:before {
  content: "\f1ca"; }

.ion-ios7-pricetag:before {
  content: "\f28d"; }

.ion-ios7-pricetag-outline:before {
  content: "\f28c"; }

.ion-ios7-printer:before {
  content: "\f1cd"; }

.ion-ios7-printer-outline:before {
  content: "\f1cc"; }

.ion-ios7-rainy:before {
  content: "\f1cf"; }

.ion-ios7-rainy-outline:before {
  content: "\f1ce"; }

.ion-ios7-recording:before {
  content: "\f1d1"; }

.ion-ios7-recording-outline:before {
  content: "\f1d0"; }

.ion-ios7-redo:before {
  content: "\f1d3"; }

.ion-ios7-redo-outline:before {
  content: "\f1d2"; }

.ion-ios7-refresh:before {
  content: "\f1d6"; }

.ion-ios7-refresh-empty:before {
  content: "\f1d4"; }

.ion-ios7-refresh-outline:before {
  content: "\f1d5"; }

.ion-ios7-reload:before, .ion-ios7-reloading:before {
  content: "\f28e"; }

.ion-ios7-rewind:before {
  content: "\f1d8"; }

.ion-ios7-rewind-outline:before {
  content: "\f1d7"; }

.ion-ios7-search:before {
  content: "\f1da"; }

.ion-ios7-search-strong:before {
  content: "\f1d9"; }

.ion-ios7-skipbackward:before {
  content: "\f1dc"; }

.ion-ios7-skipbackward-outline:before {
  content: "\f1db"; }

.ion-ios7-skipforward:before {
  content: "\f1de"; }

.ion-ios7-skipforward-outline:before {
  content: "\f1dd"; }

.ion-ios7-snowy:before {
  content: "\f309"; }

.ion-ios7-speedometer:before {
  content: "\f290"; }

.ion-ios7-speedometer-outline:before {
  content: "\f28f"; }

.ion-ios7-star:before {
  content: "\f1e0"; }

.ion-ios7-star-outline:before {
  content: "\f1df"; }

.ion-ios7-stopwatch:before {
  content: "\f1e2"; }

.ion-ios7-stopwatch-outline:before {
  content: "\f1e1"; }

.ion-ios7-sunny:before {
  content: "\f1e4"; }

.ion-ios7-sunny-outline:before {
  content: "\f1e3"; }

.ion-ios7-telephone:before {
  content: "\f1e6"; }

.ion-ios7-telephone-outline:before {
  content: "\f1e5"; }

.ion-ios7-thunderstorm:before {
  content: "\f1e8"; }

.ion-ios7-thunderstorm-outline:before {
  content: "\f1e7"; }

.ion-ios7-time:before {
  content: "\f292"; }

.ion-ios7-time-outline:before {
  content: "\f291"; }

.ion-ios7-timer:before {
  content: "\f1ea"; }

.ion-ios7-timer-outline:before {
  content: "\f1e9"; }

.ion-ios7-trash:before {
  content: "\f1ec"; }

.ion-ios7-trash-outline:before {
  content: "\f1eb"; }

.ion-ios7-undo:before {
  content: "\f1ee"; }

.ion-ios7-undo-outline:before {
  content: "\f1ed"; }

.ion-ios7-unlocked:before {
  content: "\f1f0"; }

.ion-ios7-unlocked-outline:before {
  content: "\f1ef"; }

.ion-ios7-upload:before {
  content: "\f1f2"; }

.ion-ios7-upload-outline:before {
  content: "\f1f1"; }

.ion-ios7-videocam:before {
  content: "\f1f4"; }

.ion-ios7-videocam-outline:before {
  content: "\f1f3"; }

.ion-ios7-volume-high:before {
  content: "\f1f5"; }

.ion-ios7-volume-low:before {
  content: "\f1f6"; }

.ion-ios7-wineglass:before {
  content: "\f294"; }

.ion-ios7-wineglass-outline:before {
  content: "\f293"; }

.ion-ios7-world:before {
  content: "\f1f8"; }

.ion-ios7-world-outline:before {
  content: "\f1f7"; }

.ion-ipad:before {
  content: "\f1f9"; }

.ion-iphone:before {
  content: "\f1fa"; }

.ion-ipod:before {
  content: "\f1fb"; }

.ion-jet:before {
  content: "\f295"; }

.ion-key:before {
  content: "\f296"; }

.ion-knife:before {
  content: "\f297"; }

.ion-laptop:before {
  content: "\f1fc"; }

.ion-leaf:before {
  content: "\f1fd"; }

.ion-levels:before {
  content: "\f298"; }

.ion-lightbulb:before {
  content: "\f299"; }

.ion-link:before {
  content: "\f1fe"; }

.ion-load-a:before, .ion-loading-a:before {
  content: "\f29a"; }

.ion-load-b:before, .ion-loading-b:before {
  content: "\f29b"; }

.ion-load-c:before, .ion-loading-c:before {
  content: "\f29c"; }

.ion-load-d:before, .ion-loading-d:before {
  content: "\f29d"; }

.ion-location:before {
  content: "\f1ff"; }

.ion-locked:before {
  content: "\f200"; }

.ion-log-in:before {
  content: "\f29e"; }

.ion-log-out:before {
  content: "\f29f"; }

.ion-loop:before, .ion-looping:before {
  content: "\f201"; }

.ion-magnet:before {
  content: "\f2a0"; }

.ion-male:before {
  content: "\f2a1"; }

.ion-man:before {
  content: "\f202"; }

.ion-map:before {
  content: "\f203"; }

.ion-medkit:before {
  content: "\f2a2"; }

.ion-mic-a:before {
  content: "\f204"; }

.ion-mic-b:before {
  content: "\f205"; }

.ion-mic-c:before {
  content: "\f206"; }

.ion-minus:before {
  content: "\f209"; }

.ion-minus-circled:before {
  content: "\f207"; }

.ion-minus-round:before {
  content: "\f208"; }

.ion-model-s:before {
  content: "\f2c1"; }

.ion-monitor:before {
  content: "\f20a"; }

.ion-more:before {
  content: "\f20b"; }

.ion-music-note:before {
  content: "\f20c"; }

.ion-navicon:before {
  content: "\f20e"; }

.ion-navicon-round:before {
  content: "\f20d"; }

.ion-navigate:before {
  content: "\f2a3"; }

.ion-no-smoking:before {
  content: "\f2c2"; }

.ion-nuclear:before {
  content: "\f2a4"; }

.ion-paper-airplane:before {
  content: "\f2c3"; }

.ion-paperclip:before {
  content: "\f20f"; }

.ion-pause:before {
  content: "\f210"; }

.ion-person:before {
  content: "\f213"; }

.ion-person-add:before {
  content: "\f211"; }

.ion-person-stalker:before {
  content: "\f212"; }

.ion-pie-graph:before {
  content: "\f2a5"; }

.ion-pin:before {
  content: "\f2a6"; }

.ion-pinpoint:before {
  content: "\f2a7"; }

.ion-pizza:before {
  content: "\f2a8"; }

.ion-plane:before {
  content: "\f214"; }

.ion-play:before {
  content: "\f215"; }

.ion-playstation:before {
  content: "\f30a"; }

.ion-plus:before {
  content: "\f218"; }

.ion-plus-circled:before {
  content: "\f216"; }

.ion-plus-round:before {
  content: "\f217"; }

.ion-pound:before {
  content: "\f219"; }

.ion-power:before {
  content: "\f2a9"; }

.ion-pricetag:before {
  content: "\f2aa"; }

.ion-pricetags:before {
  content: "\f2ab"; }

.ion-printer:before {
  content: "\f21a"; }

.ion-radio-waves:before {
  content: "\f2ac"; }

.ion-record:before {
  content: "\f21b"; }

.ion-refresh:before, .ion-refreshing:before {
  content: "\f21c"; }

.ion-reply:before {
  content: "\f21e"; }

.ion-reply-all:before {
  content: "\f21d"; }

.ion-search:before {
  content: "\f21f"; }

.ion-settings:before {
  content: "\f2ad"; }

.ion-share:before {
  content: "\f220"; }

.ion-shuffle:before {
  content: "\f221"; }

.ion-skip-backward:before {
  content: "\f222"; }

.ion-skip-forward:before {
  content: "\f223"; }

.ion-social-android:before {
  content: "\f225"; }

.ion-social-android-outline:before {
  content: "\f224"; }

.ion-social-apple:before {
  content: "\f227"; }

.ion-social-apple-outline:before {
  content: "\f226"; }

.ion-social-bitcoin:before {
  content: "\f2af"; }

.ion-social-bitcoin-outline:before {
  content: "\f2ae"; }

.ion-social-buffer:before {
  content: "\f229"; }

.ion-social-buffer-outline:before {
  content: "\f228"; }

.ion-social-designernews:before {
  content: "\f22b"; }

.ion-social-designernews-outline:before {
  content: "\f22a"; }

.ion-social-dribbble:before {
  content: "\f22d"; }

.ion-social-dribbble-outline:before {
  content: "\f22c"; }

.ion-social-dropbox:before {
  content: "\f22f"; }

.ion-social-dropbox-outline:before {
  content: "\f22e"; }

.ion-social-facebook:before {
  content: "\f231"; }

.ion-social-facebook-outline:before {
  content: "\f230"; }

.ion-social-freebsd-devil:before {
  content: "\f2c4"; }

.ion-social-github:before {
  content: "\f233"; }

.ion-social-github-outline:before {
  content: "\f232"; }

.ion-social-googleplus:before {
  content: "\f235"; }

.ion-social-googleplus-outline:before {
  content: "\f234"; }

.ion-social-hackernews:before {
  content: "\f237"; }

.ion-social-hackernews-outline:before {
  content: "\f236"; }

.ion-social-linkedin:before {
  content: "\f239"; }

.ion-social-linkedin-outline:before {
  content: "\f238"; }

.ion-social-pinterest:before {
  content: "\f2b1"; }

.ion-social-pinterest-outline:before {
  content: "\f2b0"; }

.ion-social-reddit:before {
  content: "\f23b"; }

.ion-social-reddit-outline:before {
  content: "\f23a"; }

.ion-social-rss:before {
  content: "\f23d"; }

.ion-social-rss-outline:before {
  content: "\f23c"; }

.ion-social-skype:before {
  content: "\f23f"; }

.ion-social-skype-outline:before {
  content: "\f23e"; }

.ion-social-tumblr:before {
  content: "\f241"; }

.ion-social-tumblr-outline:before {
  content: "\f240"; }

.ion-social-tux:before {
  content: "\f2c5"; }

.ion-social-twitter:before {
  content: "\f243"; }

.ion-social-twitter-outline:before {
  content: "\f242"; }

.ion-social-vimeo:before {
  content: "\f245"; }

.ion-social-vimeo-outline:before {
  content: "\f244"; }

.ion-social-windows:before {
  content: "\f247"; }

.ion-social-windows-outline:before {
  content: "\f246"; }

.ion-social-wordpress:before {
  content: "\f249"; }

.ion-social-wordpress-outline:before {
  content: "\f248"; }

.ion-social-yahoo:before {
  content: "\f24b"; }

.ion-social-yahoo-outline:before {
  content: "\f24a"; }

.ion-social-youtube:before {
  content: "\f24d"; }

.ion-social-youtube-outline:before {
  content: "\f24c"; }

.ion-speakerphone:before {
  content: "\f2b2"; }

.ion-speedometer:before {
  content: "\f2b3"; }

.ion-spoon:before {
  content: "\f2b4"; }

.ion-star:before {
  content: "\f24e"; }

.ion-stats-bars:before {
  content: "\f2b5"; }

.ion-steam:before {
  content: "\f30b"; }

.ion-stop:before {
  content: "\f24f"; }

.ion-thermometer:before {
  content: "\f2b6"; }

.ion-thumbsdown:before {
  content: "\f250"; }

.ion-thumbsup:before {
  content: "\f251"; }

.ion-trash-a:before {
  content: "\f252"; }

.ion-trash-b:before {
  content: "\f253"; }

.ion-umbrella:before {
  content: "\f2b7"; }

.ion-unlocked:before {
  content: "\f254"; }

.ion-upload:before {
  content: "\f255"; }

.ion-usb:before {
  content: "\f2b8"; }

.ion-videocamera:before {
  content: "\f256"; }

.ion-volume-high:before {
  content: "\f257"; }

.ion-volume-low:before {
  content: "\f258"; }

.ion-volume-medium:before {
  content: "\f259"; }

.ion-volume-mute:before {
  content: "\f25a"; }

.ion-waterdrop:before {
  content: "\f25b"; }

.ion-wifi:before {
  content: "\f25c"; }

.ion-wineglass:before {
  content: "\f2b9"; }

.ion-woman:before {
  content: "\f25d"; }

.ion-wrench:before {
  content: "\f2ba"; }

.ion-xbox:before {
  content: "\f30c"; }

.alert-box {
  padding: 15px;
  font-size: 1em;
  line-height: 1.5em;
  display: block;
  border: 2px solid #359173;
  background-color: transparent;
  color: #359173; }
  .alert-box.error {
    border-color: #ff1708;
    background-color: transparent;
    color: #ff1708; }
  .alert-box.success {
    border-color: #359173;
    background-color: transparent;
    color: #359173; }
  .alert-box.banner {
    text-align: center;
    margin-bottom: 0; }
    @media (max-width: 760px) {
      .alert-box.banner {
        position: absolute;
        left: 0;
        width: 100%;
        border: 0;
        border-bottom: 2px solid #359173; } }
    .alert-box.banner a {
      opacity: 0.75;
      text-decoration: underline; }

a.alert-box:hover {
  color: #1b3544;
  border-color: #f1f1fa; }

a.alert-box.error:hover {
  color: #ff1708;
  border-color: #ff1708; }

a.alert-box.success:hover {
  color: #359173;
  border-color: #359173; }

.navtabs ul {
  padding: 0px; }
.navtabs li {
  padding: 5px;
  font-size: 18px;
  display: inline-block;
  height: 2em; }
  .navtabs li.active {
    background-color: #359173; }
    .navtabs li.active a {
      color: #FFF; }

table {
  text-align: left;
  width: 100%; }
  table.submissions {
    border: 1px solid #ddd;
    padding: 2px;
    background: #fff; }
    table.submissions th {
      border-bottom: 2px solid #359173;
      text-align: center;
      padding: 7px; }
    table.submissions td {
      border: 1px solid #ddd;
      padding: 1px; }
    table.submissions pre {
      font-family: inherit;
      margin: 0; }
  table.forms .ion-checkmark-round, table.emails .ion-checkmark-round {
    color: #359173; }
  table.forms tr.new, table.emails tr.new {
    color: #ff1708; }
    table.forms tr.new a, table.emails tr.new a {
      color: inherit; }
      table.forms tr.new a:hover, table.emails tr.new a:hover {
        text-decoration: underline; }
  table.forms tr.waiting_confirmation, table.emails tr.waiting_confirmation {
    color: #D87431; }
  table.emails tr:nth-child(2) td {
    padding-top: 10px; }
  table.emails td:last-child {
    text-align: center; }

span[class^="ion-"] {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  width: 32px; }

.create-form .create-form-button {
  cursor: pointer;
  float: right; }
  .create-form .create-form-button span {
    font-size: 32px !important; }
.create-form form {
  clear: both; }
.create-form form input {
  clear: both;
  width: 40%; }
.create-form form button {
  margin-top: 2px; }
.create-form .modal:target > * {
  top: 20%; }

.modal > * {
  background: #fefefe;
  border: #333333 solid 1px;
  border-radius: 5px;
  margin-left: -250px;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  width: 500px;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  padding: 10px; }
  .modal > * .x a {
    float: right;
    padding: 10px;
    font-size: 1.2em; }
  .modal > * .x h4 {
    float: left;
    margin: 0;
    padding: 0;
    margin-top: 13px; }
  .modal > * .close {
    margin: 7px; }
  .modal > * .close a {
    min-width: 100px;
    width: 50%;
    margin: auto;
    padding: 7px;
    display: block; }
  .modal > * textarea {
    min-height: 165px; }
.modal:target > * {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 10%; }
.modal:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10; }
.modal:target:before {
  display: block; }

.toast-title {
  font-weight: bold; }

.toast-message {
  -ms-word-wrap: break-word;
  word-wrap: break-word; }

.toast-message a,
.toast-message label {
  color: #ffffff; }

.toast-message a:hover {
  color: #cccccc;
  text-decoration: none; }

.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  -webkit-text-shadow: 0 1px 0 #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80); }

.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40); }

/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none; }

.toast-top-center {
  top: 0;
  right: 0;
  width: 100%; }

.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%; }

.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%; }

.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%; }

.toast-top-left {
  top: 12px;
  left: 12px; }

.toast-top-right {
  top: 12px;
  right: 12px; }

.toast-bottom-right {
  right: 12px;
  bottom: 12px; }

.toast-bottom-left {
  bottom: 12px;
  left: 12px; }

#toast-container {
  position: fixed;
  z-index: 999999;
  /*overrides*/ }

#toast-container * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#toast-container > div {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  -moz-box-shadow: 0 0 12px #999999;
  -webkit-box-shadow: 0 0 12px #999999;
  box-shadow: 0 0 12px #999999;
  color: #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80); }

#toast-container > :hover {
  -moz-box-shadow: 0 0 12px #000000;
  -webkit-box-shadow: 0 0 12px #000000;
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  cursor: pointer; }

#toast-container > .toast-info {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important; }

#toast-container > .toast-error {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important; }

#toast-container > .toast-success {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important; }

#toast-container > .toast-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important; }

#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
  width: 300px;
  margin: auto; }

#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
  width: 96%;
  margin: auto; }

.toast {
  background-color: #030303; }

.toast-success {
  background-color: #359173; }

.toast-error {
  background-color: #CC3F36; }

.toast-info {
  background-color: #4ca1a7; }

.toast-warning {
  background-color: #D87431; }

.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40); }

/*Responsive Design*/
@media all and (max-width: 240px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 11em; }

  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em; } }
@media all and (min-width: 241px) and (max-width: 480px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 18em; }

  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em; } }
@media all and (min-width: 481px) and (max-width: 768px) {
  #toast-container > div {
    padding: 15px 15px 15px 50px;
    width: 25em; } }
html {
  height: 100%; }

body {
  min-height: 100%; }

body#card {
  background: #f1f1fa;
  padding-top: 4em;
  font-size: 0.9em;
  text-align: center; }
  body#card.dashboard {
    padding-top: 0; }

.tooltip {
  font-weight: 600;
  cursor: help; }

#title {
  text-align: center;
  margin-bottom: 3em; }
  #title h1 {
    font-size: 1.2em; }
  #title img {
    max-width: 70px; }

.row.section {
  padding-top: 5em;
  padding-bottom: 5em;
  border-bottom: 1px solid #ddd; }
  .row.section#header {
    border-color: #359173; }

#header {
  border-bottom: 1px solid #ddd; }
  #header i {
    font-size: 4em;
    color: #1b3544; }
  #header .next {
    opacity: 0.5; }
  #header .success i {
    color: #359173; }
  #header .error i {
    color: #ff1708; }
  #header .done {
    opacity: 0.3; }
    #header .done p {
      text-decoration: line-through; }
  #header .done i, #header .current i {
    color: #359173; }

.container {
  padding-top: 1em;
  padding-bottom: 1em; }
  @media (max-width: 760px) {
    .container {
      padding-bottom: 0 !important;
      padding-top: 0 !important; } }
  .container.block {
    padding-bottom: 1.5em;
    padding-top: 1.5em; }
    @media (max-width: 760px) {
      .container.block {
        padding-top: 0 !important;
        padding-bottom: 0 !important; } }
    .container.block:first-child {
      padding-top: 0; }
    .container.block:last-child {
      padding-bottom: 0; }
  .container.card {
    max-width: 500px; }
  .container.index-card {
    max-width: 950px; }

.card,
.index-card {
  padding: 0.9em;
  background: #fff;
  border: 1px solid #ddd; }
  .card h1,
  .index-card h1 {
    font-size: 1.8em; }

.row.grey {
  background: #f1f1fa; }

p {
  line-height: 1.5em; }

p.code {
  font-size: 0.8em;
  font-family: "source-code-pro", monospace;
  border: 1px solid #ddd;
  background: #fff; }
  @media (max-width: 760px) {
    p.code {
      overflow: auto; } }

span.code {
  font-family: "source-code-pro", monospace;
  display: inline-block;
  padding: 0 0.2em;
  border: 1px solid #ddd;
  background: #fff;
  font-size: 0.9em; }

input, textarea {
  font-size: 0.8em;
  font-family: "source-code-pro", monospace;
  border: 1px solid #ddd;
  background: #fff;
  padding: 0.9em;
  transition: all 0.3s ease-in-out;
  width: 100%; }
  input:focus, textarea:focus {
    border-color: #359173;
    outline: none;
    box-shadow: 0 0 5px 1px #359173; }

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin-right: 6px; }

form input, form textarea {
  margin-bottom: 0.5em; }

button, a.button {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid #359173;
  color: #359173;
  background: transparent;
  line-height: 1em;
  padding: 0.6em 0.9em;
  transition: all 0.3s ease-in-out; }
  button:hover, a.button:hover {
    border-color: #359173; }

.animate {
  -moz-animation-iteration-count: once;
  -moz-animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -moz-animation-duration: 0.4s;
  -webkit-animation-iteration-count: once;
  -webkit-animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -webkit-animation-duration: 0.4s; }
  .animate.dropIn {
    -moz-animation-name: dropIn;
    -webkit-animation-name: dropIn; }

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    opacity: 0; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    opacity: 1; } }
@-webkit-keyframes dropIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -150px, 0);
    -moz-transform: translate3d(0, -150px, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0); } }
@-webkit-keyframes dropInLong {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -450px, 0);
    -moz-transform: translate3d(0, -450px, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0); } }
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg); } }
@-webkit-keyframes rotateBack {
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg); } }
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: -10000px;
  left: -10000px;
  opacity: 0;
  transition: opacity 0.4s linear;
  background: rgba(255, 255, 255, 0.96); }

body.showOverlay {
  overflow: hidden; }
  body.showOverlay .overlay {
    top: 0;
    left: 0;
    opacity: 1; }
    body.showOverlay .overlay iframe {
      -webkit-animation-iteration-count: once;
      -webkit-animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
      -webkit-animation-duration: 0.4s;
      -moz-animation-name: dropInLong;
      -webkit-animation-name: dropInLong; }

.toggleOverlay {
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 2.2em;
  font-weight: 600;
  -moz-animation-iteration-count: once;
  -moz-animation-fill-mode: forwards;
  -moz-animation-timing-function: linear;
  -moz-animation-duration: 0.2s;
  -webkit-animation-iteration-count: once;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 0.2s; }

body.showOverlay .toggleOverlay {
  -moz-animation-name: rotate;
  -webkit-animation-name: rotate; }
