{% extends 'users/dashboard.html' %}

{% block section %}

  <div class="col-1-1">
    <h2>Your Account</h2>

    <div class="container block">
      <div class="col-1-2">
        <div class="container block">
          <div class="card">
            You are registered with the email <span class="code">{{ current_user.email }}</span> since {{ current_user.registered_on.strftime('%B %d, %Y') }}.
          </div>
        </div>
        <div class="container block">
          <div class="card">
            <h3>Your emails</h3>
            <table class="emails">
              <tr>
                <form method="post" action="{{ url_for('add-account-email') }}">
                  <td>
                    <input name="address" placeholder="Add an email to your account">
                  </td>
                  <td style="width: 1px">
                    <button type="submit" style="font-size: 0.76em; padding: 1em 0.9em">Verify</button>
                  </td>
                </form>
              </tr>
            {% for email in emails.pending %}
              <tr class="waiting_confirmation">
                <td>{{ email }}</td>
                <td><span class="tooltip hint--right" data-hint="Waiting verification. Please check your mailbox."><span class="ion-pause"></span></span></td>
              </tr>
            {% endfor %}
            {% for email in emails.verified %}
              <tr>
                <td>{{ email }}</td>
                <td>
                  <span class="tooltip hint--right" data-hint="This address is verified. You can freely control forms that post to it."><span class="ion-checkmark-round"></span>
                </td>
              </tr>
            {% endfor %}
            </table>
          </div>
        </div>
      </div>
      <div class="col-1-2">
        <div class="card">
          <h3>Plan</h3>

          {% if current_user.upgraded %}
            <p>You are a Formspree Gold user.</p>
            <form action="/account/downgrade" method="POST">
              <button type="submit">Cancel subscription</button>
            </form>
          {% else %}
            <p>You are using a free account.</p>
            <br>
            When you upgrade to Formspree Gold you will get
            <ol style="text-align: left">
              <li>Unlimited submissions</li>
              <li>Access to submission archival</li>
              <li>Ability to hide your email from your page's HTML and replace it with a random-like URL</li>
              <li>Ability to create forms linked to other email accounts</li>
            </ol>

            <form action="/account/upgrade" method="POST">
              <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="{{ config.STRIPE_PUBLISHABLE_KEY }}"
                data-image="/static/img/logo.png"
                data-name="{{ config.SERVICE_NAME }}"
                data-description="Formspree Gold 1 month"
                data-amount="999"
                data-email="{{ current_user.email }}"
                data-allow-remember-me=false
                data-label="Upgrade to Formspree Gold"
                data-panel-label="Subscribe"
              ></script>
            </form>
          {% endif %}
        </div>
      </div>
    </div>

  </div>

{% endblock %}
